/* .Table {
	width: 100%;
	height: 40vh;
	display: flex;
	justify-content: center;
} */
/* align-items: center; */

/* table {
	border: 2px solid forestgreen;
	width: 1000px;
	height: 300px;
}

tr {
	border-bottom: 1px solid red;
    text-align: center;
    align-items: center;
}

*/
/* td {
	color: wheat;
	text-align: center;
    align-items: center; 
} */
