/* GENERAL CSS */
input[type='text'],
input[type='password'],
input[type='email'],
input[type='number']
{
    border: 2px solid rgb(224, 210, 210);
    padding: 4px;
}
textarea
{
    border: 2px solid rgb(224, 210, 210);;
    padding: 4px;
}

.step__one,.step_two
{
    align-items: center;
}
/* .part__one,.part__two
{
    display: flex;
} */
/* form 
{
    display: block;
} */

.part__one,.part__two
{
    display: flex;
    margin: 0 auto;
}
.part__one input,.part__two input{
    width: 25%;
}
.part__three
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* gap: 1rem; */
}
.part__three label
{
    margin-inline: auto;
    /* display:block; */
    /* float: left; */
}
.part__three input
{
    
    /* float: left; */
    /* width: 75%; */
    margin: 0 auto;
}

.part__address
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

input::placeholder
{
    padding: 5px;
}
.time
{
    width: 70%;
}


/* 2nd Page */


.part__four
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.socails
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 2rem; */
}
.socails label
{
    
    margin-inline: auto;
    margin-bottom: 1rem;
    float: left;
}
.socails input{
    width: 75%;
    margin: 0 auto;
    float: left;
}

.amenities
{
    margin-inline: auto;
    /* display: inline-block; */
    /* float: left; */
    margin-left: 0;
    /* margin-bottom: 2rem; */
}

/* 3rd page */
.step__three 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* float: left; */
    gap: 2rem;
}

.step__three label
{
    display: block;
    float: left;
}   
.step__three input
{
    margin: 0 0 0 0;
    width: 100%;
}
.red-star
{
    color: red;
}