:root {
  --dval: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Encode Sans SC', sans-serif; */
}
.login {
  display: flex;
}
/* input {
  font-size: 1rem;
} */
.register {
  height: 100vh;
  width: 100%;
  position: relative;
}
.login {
  /* padding:2em 1em; */
  /* position:relative ; */
  margin-top: 0.47rem;
  z-index: 0;
}
.content {
  height: 210px;
  overflow: hidden;
  padding: 0 5%;
  width: 50%;
}
.inputs {
  width: 50%;
  font-size: 1rem;
  /*
    height:400px;
    overflow:hidden;
    box-shadow:2px 2px 8px rgba(0,0,0,.2);*/
}
.content span {
  display: block;
  color: #1056ab;
  font-weight: bolder;
  font-size: 1.4em;
  margin: 1.5em 0;
}
.signini,
.signini form,
.signupi,
.signupi form,
.signinc,
.signupc {
  height: 86%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: space-evenly;
  position: relative;
}
.signini {
  padding: 2em 0;
}
.signini form div,
.signupi form div {
  height: 8%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.signini form div:not(.signini div:nth-child(3)),
.signupi form div:not(.signupi div:nth-child(4)) {
  border: 1px solid gray;
}
.signini form div span,
.signupi form div span {
  padding: 8px;
}
input:not(.btn) {
  flex: 1;
  margin: 2rem;
  border: none;
  outline: none;
}
.btn {
  width: 45%;
}
.btn:not(.b) {
  background: #2266a9;
  border: 1px solid #ced2d6;
  color: #122193;
}
.material-icons {
  color: #106ad8;
}
.b {
  background: #1056ab;
  color: #fff;
  border: 1px solid #1056ab;
}
.signinc,
.signini {
  display: none;
}
.message {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 20%;
  background: #abf5d1;
  padding: 8px;
  text-align: center;
  color: #006644;
  font-weight: bold;
  opacity: 0;
}
@media screen and (max-width: 1024px) {
  .login {
    display: flex;
  }
  .content,
  .inputs {
    width: 50%;
  }
}

i {
  margin-left: -30px;
  cursor: pointer;
}
