.services h1
 {
    text-align: center;
 }
 .card__salon
{
    /* background: #252525; */
    text-align:center;
    margin: 0.5rem ;
    color: #000000;
    width: 20rem;
    
}
.card__salon img{
    height:100px;
    width: 100px;
    margin-bottom: 1rem;
}
.card__salons
{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    
}