.login__main
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(to right, #ffffff, #ffffff);
    height: 100%;
    color: black;
    width: 100%;
}

.login__left
{
    width: 50%;
    margin: 5rem auto;
    font-size: 3.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.login__right
{
    width: 60%;
    margin: 5rem auto;
    /* font-size: 11p */
}

/* input[type=email],input[type=password] */
#email_id,#pswd
{
    margin: 2rem 0;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
a
{
    color: black;
    position: relative;
    text-decoration: underline;
    text-decoration-style: dashed;
}

.buttons{
    display: flex;
    
    /* gap: -200px; */
    /* row-gap: 2re; */
    
}
.submit{
    /* display: flex; */
    margin-top: 1rem;
    border: black 2px solid;
    padding: 5px;
    border-radius: 15%;
    margin-inline: auto;
}

.email__text, .pass__text{
    font-size:1.5rem;
}

.Forgot{
    margin-bottom: 2rem;
}
.Forgot:hover{
    color: blue;
    text-decoration: underline;
}